/* ******COMMOND****** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 60%;
    padding: 50px 0;
    margin: auto;
}

.btn {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background-color: royalblue;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    opacity: .8;
}

.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

/* ******MAIL****** */
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.row label[for="mail"] {
    font-size: 24px;
    font-weight: bold;
}

.row input[type="email"] {
    width: 250px;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px;
}

.message {
    margin-bottom: 10px;
}

/* ******DADI****** */

.row.table .dado {
    width: 10vw;
    height: 10vw;
    line-height: 10vw;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    margin: 20px;
}

#risultato {
    height: 50px;
}

#messaggio {
    font-size: 32px;
    font-weight: bold;
}