/* ******COMMOND****** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url('../img/craps-online-1.jpg');
    background-size: cover;
    padding: 50px 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    background-color: royalblue;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    opacity: .9;
}

.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

/* ******MAIL****** */
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row.mail {
    width: 400px;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 15px;
    padding: 20px 50px;
}

.row.mail.display_off {
    display: none;
}

.row label[for="mail"] {
    font-size: 24px;
    font-weight: bold;
}

.row input[type="email"] {
    width: 250px;
    font-weight: bold;
    margin: 10px 0;
    padding: 5px;
}

.message {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* ******DADI****** */
.row.table {
    width: 40%;
    padding: 5px;
    display: none;
}

.row.table.display_on {
    display: flex;
}

.row.table .dado {
    width: 5vw;
    height: 5vw;
    line-height: 5vw;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: red;
    border: 3px solid black;
    border-radius: 5px;
    margin: 20px;
}

#risultato {
    height: 50px;
}

#messaggio {
    font-size: 32px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 15px;
    padding: 20px;
}